@using Microsoft.AspNetCore.Identity
@using Warehouse.Infrastructure.Data.Identity

@if (User.Identity?.IsAuthenticated ?? false)
{
    <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img gravatar-email="@User.Identity?.Name" gravatar-size="80" class="img-circle elevation-2" alt="My Gravatar" />
          @*<img src="~/img/avatar5.png" class="img-circle elevation-2" alt="User Image">*@
        </div>
        <div class="info">
          <a href="#" class="d-block">@User.Identity?.Name</a>
        </div>
      </div>
}
